# Vercel
.vercel

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Dependencies
node_modules

# Build output
dist

# Logs
*.log

# Screenshots (exclude from commits)
public/screenshots/
