/* Screen reader only utility */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
:root {
  --neutral-0: #0c0c0c;
  --neutral-100: #333339;
  --neutral-200: #333334;
  --neutral-300: #2b2b2c;
  --neutral-400: #8c8f90;
  --neutral-500: #394a4d;
  --neutral-600: #122b3d;
  --neutral-800: #d6d6dad0;
  --neutral-900: #fcf8f8ea;
  --neutral-1000: #fff;
  --border: #e4f1ff;
  --error: #c74c4c;
  --success: #25c578;

  --primary-color: #0cc0df;
  --secondary-color: #ffde59d4;

  --border: #343434;
  --yellow-gradient: linear-gradient(to right, #0cc0df, #ffde59d4);
  --purple-gradient: linear-gradient(to right, #8c52ff, #5ce1e6);

  --accent-100: #875ddb;
  --accent-200: #5ce1e6;
}

*,
::after,
::before {
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3 {
  font-weight: bold;
  transition: 0.3s ease-in-out;
}
button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 500;
}

a {
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
}
p {
  line-height: 1.5;
}
li {
  list-style: none;
}
li,
a,
button {
  transition: 0.3s ease-in-out;
}
button:hover,
textarea:hover,
textarea:focus {
  outline: none;
  cursor: pointer;
}
button:focus {
  border: dashed 2px var(--accent-200);
  outline: none;
}
.MuiSvgIcon-root:hover {
  transition: all 0.3s ease-in-out;
}

/* Hide scrollbar for a specific container */
.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 0.8rem;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-image: var(--purple-gradient);
  border-radius: 50%;
  border: 2px solid transparent;
  background-clip: content-box;
}

.custom-scrollbar {
  scrollbar-width: 0.8rem;
  scrollbar-color: auto;
  scrollbar-color: #ffde59b0 transparent;
}
